html { font-size: 16px; }
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(214, 224, 236);
    font-family: Verdana;
    border-radius: 8px;
}

form:after {
    content: '';
    display: block;
    clear: both;
}

h3 {
    margin-top: 0;
}

div {
    padding: 0.5rem 0;
}

button {
    float: right;
    background-color: rgb(20, 168, 119);
    color: #fff;
    padding: 0.5rem;
    border: 1px solid transparent;
}