<form>
  <h3>Ajouter un lien</h3>
  
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" #newTitle />
  </div>
  <div>
    <label for="link">Link:</label>
    <input type="text" id="link" name="link" #newLink />
  </div>
  <button (click)="addArticle(newTitle, newLink)">Ajouter</button>
</form>

<!-- <app-article *ngFor="let toto of articles" [article]="toto"></app-article> -->
<app-article *ngFor="let toto of sortedArticles()" [article]="toto"></app-article>